<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} {{ app_name }} | ADM {% endblock %}</title>

    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('/assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/assets/vendor/bootstrap/dist/css/bootstrap-theme.css') }}">
        <link rel="stylesheet" href="{{ asset('/assets/css/sticky_footer.css') }}">


    {% endblock %}
</head>

<body>

{% block nav %}
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('mo_adm_index') }}">{{ app_name }} Adm</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url('mo_adm_clients') }}">Clientes</a></li>
                <li><a href="{{ url('mo_adm_products') }}">Productos</a></li>
                <li><a href="{{ url('mo_adm_users') }}">Usuarios</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Más acciones<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url('mo_adm_products_create') }}">Nuevo producto</a></li>
                        <li><a href="{{ url('mo_adm_clients_create') }}">Nuevo cliente</a></li>
                        <li><a href="{{ url('mo_adm_logout') }}">Logout</a></li>

                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <!--<li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li> -->
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

{% endblock %}

{% block body %} {% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <p class="text-muted">Adm</p>
        </div>
    </footer>

{% endblock %}

{% block javascript %}

    <script src="{{ asset('/assets/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('/assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>

{% endblock %}
</body>
</html>