{% extends 'MoMainWebsiteBundle::layout.html.twig' %}



{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ asset('/images/products/' ~ product.imageName) }}" class="img-thumbnail img-responsive">
            </div>
            <div class="col-md-8">
                <h3>{{ 'mo.mainwebsite.word.data'|trans|capitalize }}</h3>
                <table class="table table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th>{{  'mo.mainwebsite.word.name'|trans|capitalize }}</th>
                            <th>{{  'mo.mainwebsite.word.budget'|trans|capitalize }}</th>
                            <th>{{  'mo.mainwebsite.word.price'|trans|capitalize }}</th>
                            <th>{{  'mo.mainwebsite.word.tax'|trans|capitalize }}</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.budget }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.tax }}</td>
                        </tr>

                    </tbody>

                </table>
                <hr>
                <h3>{{ 'mo.mainwebsite.word.description'|trans|capitalize }}</h3>
                <p>
                    {{ product.description }}
                </p>
                <hr>
                <div class="text-right">
                    <form action="{{ url('mo_user_order') }}">
                        <button class="btn btn-success">{{ 'mo.mainwebsite.section.product.order.button'|trans|capitalize }}</button>
                    </form>
                </div>

            </div>
        </div>

    </div>


{% endblock %}